<div class="card card-header results-block">
  <% if @stock %>
    <strong>Symbol: </strong> <%= @stock.ticker %>
    <strong>Name: </strong> <%= @stock.name %>
    <strong>Price: </strong> <%= @stock.last_price %>
  <% else %>
    This is not a valid stock symbol
  <% end %>
</div>
